verif_data.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- racine game -->
  <xs:element name="games">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="game" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Définition des éléments à l'intérieur de "game" -->
              <xs:element name="ID" type="xs:integer"/>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Platform" type="xs:string"/>
              <xs:element name="Year" type="xs:integer"/>
              <xs:element name="Genre" type="xs:string"/>
              <xs:element name="Publisher" type="xs:string"/>
              <xs:element name="Sales" >
                 <xs:complexType>
                   <xs:attribute name="North_America" type="xs:string" use="required" />
                   <xs:attribute name="Europe" type="xs:string" use="required" />
                   <xs:attribute name="Japan" type="xs:string" use="required" />
                   <xs:attribute name="Other" type="xs:string" use="required" />
                   <xs:attribute name="Global" type="xs:string" use="required" />

                 </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>






